.resize {
    width: 400px;
    height: auto;
}

.resize {
    width: 300px;
    height: auto;
}

<img class="resize" src="https://scontent-lhr3-1.xx.fbcdn.net/v/t31.0-8/28619326_2085075051704984_3363955661133606388_o.jpg?oh=a0c89de986c5d7bce430c07b0f1bbd8e&oe=5B3160FA"/>

p{color: red}
